div.form-item-settings-verified-within-units {
  display: inline-block;
}

div.form-item-settings-verified-within-count {
  display: inline-block;
}

div.form-item-settings-require-piv {
  margin-top: -0.75em;
  margin-left: 1em;
}
